

  $backgroundColor: #2B2A2A;
  $secondaryColor:#D3D4D5;
  $mainColor: #009DFF;
  $greenColor:#5CD369;


::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $mainColor;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $mainColor;
  }
